<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <H1>Weather Report</H1>
    <P>API Format : http://127.0.0.1:5000/api1/v2/station/date</P>
    <p>API Example : <A href="http://127.0.0.1:5000/api1/v2/1/1860-01-01">http://127.0.0.1:5000/api1/v2/1/1860-01-01</A></p>
    <p>API Example : For Historical Data <A href="http://127.0.0.1:5000/api1/v2/1/">http://127.0.0.1:5000/api1/v2/1/</A></p>
    <p>API Example : For Yearly Data <A href="http://127.0.0.1:5000/api1/v2/yearly/1/1860">http://127.0.0.1:5000/api1/v2/yearly/1/1860</A></p>
    <p>{{data|safe}}</p>
</body>
</html>