<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wines</title>
</head>
<body>
    <h1>Wines data</h1>
    <p>All Wines : <a href="http://127.0.0.1:5002/all_wines_data/"> Click Me to get data for all the wines</a></p>
    <p>Most Expensive Wine : <a href="http://127.0.0.1:5002/most_expensive_wine/"> Click Me to get data of most expensive wine</a></p>
    <p>Most Expensive Wine : <a href="http://127.0.0.1:5002/most_highly_rated_wines/"> Click Me to get data of most rated wines</a></p>
</body>
</html>